/*.alert-system-container {*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*    max-width: 100%; !* מבטיח שהאלמנטים לא יחרגו מרוחב המסך *!*/
/*    box-sizing: border-box;*/
/*}*/

/*.mobile-logo-container {*/
/*    margin-left: 24px;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    transition: box-shadow 0.3s ease;*/
/*}*/

/*.mobile-logo-container img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/

/*.mobile-logo-container.active {*/
/*    box-shadow: 0 0 10px 5px green;*/
/*    border-radius: 50%;*/
/*}*/
/*.alert-system-container {*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*    max-width: 100%; !* מבטיח שהאלמנטים לא יחרגו מרוחב המסך *!*/
/*    box-sizing: border-box;*/
/*}*/

/*.mobile-logo-container {*/
/*    margin-left: 24px;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    transition: box-shadow 0.3s ease;*/
/*}*/

