@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Rubik:wght@400;500&display=swap');
.home-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.main {
    background: linear-gradient(to top, #38b6ba, #b1ecec, #2ea0a5);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.curved-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75vh; /* גובה החלק הלבן, ניתן להתאים */
    background-color: white;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}
/* ICONS */
.icons-container {
    margin-top: -40px; /* Add margin to ensure it is below the navbar */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    padding: 120px;
}
/* MAIN-IMG */
.logo-container {
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    text-align: center;
}

.main-img {
    width: 19rem;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}
.curved-background > h1 {
    text-align: center;
    z-index: 2;
    font-family: VAG Rounded Bold, sans-serif;
    color: #2d3748;
    font-size: 4.5rem;
    margin-top: 10px;
}

/*אודות*/
.about {
    background: linear-gradient(135deg, #cff4f4 30%, #77e6ec 100%);
    padding: 6rem;
    position: relative;
    overflow: hidden;
}

.about::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), transparent);
    z-index: 1;
    transform: rotate(45deg);
    pointer-events: none;
}

.about::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

.about > * {
    position: relative;
    z-index: 2;
}
.about>h2,h3{
    font-family: "Gan CLM Bold", sans-serif;
    text-align: center;
    font-weight: 700;
    color: #222222;
    margin: 0;
    line-height: 1.5;
}
.round-font-text {
    direction: rtl;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    max-width: 900px;
    font-family: "Gan CLM Bold", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 1.9rem;
}

/*צור קשר*/
.contact-us{
text-align: center;
}