.emergency-contacts {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emergency-contacts h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-input {
    margin-bottom: 10px;
}

.contact-input input {
    width: 48%;
    padding: 8px;
    margin-right: 4%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-input input:last-child {
    margin-right: 0;
}

.contact-buttons {
    display: flex;
    justify-content: space-around;
}

.contact-buttons button {
    background-color: #59cfd3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-buttons button:hover {
    background-color: #48b2b5;
}
