.home-container {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to top, #38b6ba, #b1ecec, #2ea0a5);
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* ICONS */
.icons-container {
    margin-top: -40px; /* Add margin to ensure it is below the navbar */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    padding: 120px;
}
/* MAIN-IMG */
.logo-container {
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    text-align: center;
}

.main-img {
    width: 19rem;
}

.curved-background > h1 {
    text-align: center;
    z-index: 2;
    font-family: VAG Rounded Bold, sans-serif;
    color: #2d3748;
    font-size: 4.5rem;
    margin-top: 10px;
}

.curved-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75vh; /* גובה החלק הלבן, ניתן להתאים */
    background-color: white;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}
