/* NAVBAR */
.navbar {
    margin: 0 auto;
    position: fixed; /* Make navbar fixed */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 10; /* Ensures the navbar is above other content */
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.28); /* Background when scrolled */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
}

.nav-links a:hover {
    color: #f6edc5;
}