@keyframes sparkle {
    0%, 20%, 50%, 80%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    10%, 40%, 70%, 90% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.sparkling-star {
    animation: sparkle 9s infinite ease-in-out; /* משך זמן כולל של 4 שניות */
    animation-delay: 5s; /* הפסקה של 2 שניות לאחר כל נצנוץ */
}
