
@font-face {
  font-family: 'VAG Rounded Bold';
  src: url('./Fonts/VAG Rounded Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gan CLM Bold';
  src: url('./Fonts/Gan CLM Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'VAG Rounded Bold', sans-serif;
}
*{
  direction: rtl;
}
